section{
  width: 100%;
  min-height: 250px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  margin-top: 20px;
}

ul{
    padding: 20px;
}

li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.loading{
    background-image: url("../../../../../assets/img/bg-task.png");
    background-repeat: no-repeat;
    background-position: center 30px;
}

input[type="checkbox"]{
          width: 5%;  
        }
        input[type="text"]{
          width: 80%;
          border: none;
          font-size: 16px;
          color: #939CBD;
          }
          
.checked{
    text-decoration: line-through;
}
        
button{
    width: 5%;
    background: none;
    border: none;
}